<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsTracker</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!--Table to recieve the info from newsSites.json-->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Delete?</th>
                <th scope="col">Main url</th>
                <th scope="col">News url</th>
                <th scope="col">News list tag</th>
                <th scope="col">News list type</th>
                <th scope="col">News list class</th>
                <th scope="col">Title tag</th>
                <th scope="col">Title type</th>
                <th scope="col">Title class</th>
                <th scope="col">Subtitle tag</th>
                <th scope="col">Subtitle type</th>
                <th scope="col">Subtitle class</th>
                <th scope="col">Content tag</th>
                <th scope="col">Content type</th>
                <th scope="col">Content class</th>
                <th scope="col">Images tag</th>
                <th scope="col">Images type</th>
                <th scope="col">Images class</th>
                <th scope="col">Directory name</th>
            </tr>
        </thead>
        <tbody>
            <!--Loop for each site-->
            {% for site in sites %}
                <tr>
                    <td>
                        <form action="/deleteSite/" method="GET">
                            <input type="hidden" name="site" id="site" value="{{site}}">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                {% for s in site %}
                    <td>{{ s }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--Button to go back to index.html-->
    <a href="/" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a>
</body>
</html>